h1  {
  font-size: 2rem;
}

nav {
    background-color: #3b16be;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, nav {background-color: #a31515;}

.parent {

    margin: 1rem 2vw;
}

.parent section {

    border: 1px solid #414141;
    background-color: #fcfcfc;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {

    background-color: #414141;
    color: #fff;
    display: black;
    text-align: center;
    padding: .35rem 0;

}

.parent p {

    padding: 10px;
}

footer {
    text-align: center;
}

header {
    text-align: center;
}
