* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 10px solid rgba(0, 0, 0, 0.1);
}

header,
main {
	margin: 0 auto;
    

}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 1300px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, nav {background-color: #f05050;}

.parent {

    margin: 1rem 2vw;
}

.parent section {

    border: 2px solid #414141;
    background-color: #fcfcfc;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {

    background-color: #414141;
    color: #fff;
    display: black;
    text-align: center;
    padding: .10rem 0;

}

.parent p {

    padding: 50px;
}

footer {
    text-align: center;
    border: 10px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    max-width: 1300px;
    
}



h1 {
    text-align: center;
    border-bottom: 1px solid #000;
}

