@media only screen and (min-width: 34rem) {
    
.parent {
display: grid;
grid-template-columns: 2fr 1fr;
column-gap: 10px;

}

.parent ::selection {
    box-shadow: 1px 1px 10px;
}

}/*end media query*/